body 
{
    background-color: lightseagreen;
    font-family: cursive 
}

nav a 
{
    color: dimgray;
}

#current-link
{
    text-decoration: none;
}

.uppercase
{
    text-transform: uppercase;
    font-size: 42px;
}

img
{
    width: auto;
    height: 300px;
}

h1
{
    border-bottom: 3px double black;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 10px;
    
}

